@import "tailwindcss";

@theme {
  --color-primary-50: #f9f2f2;
  --color-primary-100: #00000040;
  --color-primary-200: #00000080;
  --color-primary-300: #323231;
  --color-primary-400: #d9d9d933;
  --color-primary-500: #c0baba1a;

  --color-primary-900: #000000bf;
  --color-primary-950: #0000005e;

  --color-accent-50: #4abd4a;
  --color-accent-100: #238623;
  --color-accent-100: #4abd4a80;

  --font-franklin: "Franklin Gothic Demi", sans-serif;
  --font-inter: "Inter", san-serif;
}
